<div class="zone-e">
  <h2 class="zone-e__title">Ils sont convaincus</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            img.card__img(src=require("../../images/tom.png"))
            <div class="card__content">
              <h3 class="content__title">Tom</h3>
              <p class="content__paragraph">Depuis que j'utilise Yume, je me sens enfin reposé. Mes rêves sont paisibles, je dors vraiment (dans mon lit) et grâce à mon médecin, je n'hallucine plus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            img.card__img(src=require("../../images/kate.png"))
            <div class="card__content">
              <h3 class="content__title">Kate</h3>
              <p class="content__paragraph">Depuis que j'utilise Yume, je me sens enfin reposé. Mes rêves sont paisibles, je dors vraiment (dans mon lit) et grâce à mon médecin, je n'hallucine plus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            img.card__img(src=require("../../images/jake.png"))
            <div class="card__content">
              <h3 class="content__title">Jake Gyllenhaal</h3>
              <p class="content__paragraph">Depuis que j'utilise Yume, je me sens enfin reposé. Mes rêves sont paisibles, je dors vraiment (dans mon lit) et grâce à mon médecin, je n'hallucine plus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            img.card__img(src=require("../../images/leo.png"))
            <div class="card__content">
              <h3 class="content__title">Leonardo Di Caprio</h3>
              <p class="content__paragraph">Depuis que j'utilise Yume, je me sens enfin reposé. Mes rêves sont paisibles, je dors vraiment (dans mon lit) et grâce à mon médecin, je n'hallucine plus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            img.card__img(src=require("../../images/carrie.png"))
            <div class="card__content">
              <h3 class="content__title">Carrie</h3>
              <p class="content__paragraph">Depuis que j'utilise Yume, je me sens enfin reposé. Mes rêves sont paisibles, je dors vraiment (dans mon lit) et grâce à mon médecin, je n'hallucine plus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
