<div class="zone-e">
  <h2 class="zone-e__title">Ils sont convaincus</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            <div class="card__img">
              img(src=require("../../images/tom.png"))
            </div>
            <div class="card__content">
              <h3 class="content__title">Tom Cruize</h3>
              <p class="content__paragraph">Merci Yume, grâce à vous, je n’ai plus d’hallucinations. Je peux donc pleinement accepter la réalité, ma vie suit son cours, et je n’ai jamais été aussi heureux, malgré tout ce qui m’est arrivée par le passé.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            <div class="card__img">
              img(src=require("../../images/kate.png"))
            </div>
            <div class="card__content">
              <h3 class="content__title">Kate Winslet</h3>
              <p class="content__paragraph">J’adore Yume, elle m’aide à rester reposée, même avec le rythme de vie que j’ai en tant qu’actrice. Je crois même qu’elle a capté mon léger béguin pour Jim Carrey, il apparait souvent dans mes rêve.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            <div class="card__img">
              img(src=require("../../images/jake.png"))
            </div>
            <div class="card__content">
              <h3 class="content__title">Jake Gyllenhaal</h3>
              <p class="content__paragraph">Depuis que j'utilise Yume, je me sens enfin reposé. Mes rêves sont paisibles, je dors vraiment (dans mon lit) et grâce à mon médecin, je n'hallucine plus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            <div class="card__img">
              img(src=require("../../images/leo.png"))
            </div>
            <div class="card__content">
              <h3 class="content__title">Leonardo Di Caprio</h3>
              <p class="content__paragraph">Je peux de nouveau rêver normalement ! Je ne suis plus obligé de me baser sur des souvenirs, Yume me créer des rêves incroyables sans ma femme meurtrière.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="card">
            <div class="card__img">
              img(src=require("../../images/carrie.png"))
            </div>
            <div class="card__content">
              <h3 class="content__title">Carrie-Anne Moss</h3>
              <p class="content__paragraph">Je me sens tellement bien quand je me réveille. Yume permet une transition plus douce entre le rêve et la réalité, je n’ai plus peur de me réveiller dans la Matrice.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
